<div class="footer flex">
  <div class="footer-section footer-left">
    <div class="imprint-container">
      <a routerLink="/imprint">Imprint</a>
      <a routerLink="/privacy">Privacy</a>
    </div>
    <p class="copyright">&copy; Anna Ludewig 2022</p>
  </div>
  <div class="footer-section footer-right">
    <a href="https://github.com/announa" target="_blank">
      <img class="github" src="assets/img/icons/github.svg" />
      <span> Github </span> </a
    >
    <a href="https://www.linkedin.com/in/anna-ludewig-1a8005220/" target="_blank">
      <img class="linkedin" src="assets/img/icons/linkedin.svg" />
      <span> LinkedIn </span>
    </a>
  </div>
</div>
