.footer {
 height: 250px;
 padding: 50px 13vw 30px;
 gap: 50px;
 justify-content: space-between;
 background-color: #232323;
 line-height: 1.5rem;
 position: relative;
 color: white;
 @media (min-width: 1400px){
   line-height: 2.5rem;
   padding: 50px 15vw 30px;
 }

  a,
  p {
    font-size: clamp(15px, 1.2vw, 20px);
  }

  &::after{
   position: absolute;
   left: 50%;
   top: 15%;
   content: "";
   height: 70%;
   border-right: 1px solid rgba($color: #ffffff, $alpha: 0.1);

   @media (max-width: 700px) {
     height: 50%;
   }

   @media (max-width: 350px){
     left: 45%;
   }
  }
}

.footer-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-right {
  align-self: flex-start;
}

.footer-section {
 a{
  display: flex;
  align-items: center;
  gap: 5px;
  span{
   padding-top: 5px;
   display: inline-block;
  }
 }
  img {
   width: 35px;
   height: 35px;
   filter: invert(100%);
   
   @media (min-width: 1400px){
      width: 50px;
      height: 50px;

    }
  }
}

a{

  &:hover {
    color: rgb(162, 162, 162);
  }
}

.copyright{
  @media (max-width: 700px){
    position: absolute;
    bottom: 30px;
  }
}