<div #aboutme id="aboutme" class="component-container flex fade-in">
  <h3 #aboutHeading>about <span class="text-blue">me</span></h3>
  <div class="positioning-container">
    <div class="separator separator1" #separator></div>
    <div class="slide-container flex">
      <div class="slide" (click)="slider.slideImagesLeft('aboutme')">
        &lsaquo;
      </div>
      <div class="content-container" #aboutSection>
        <div class="img-container fade-in">
          <img src="assets/img/about/me1.jpg" class="img1" #imgAbout />
          <img src="assets/img/about/me2.jpg" class="img2" #imgAbout />
          <img src="assets/img/about/me3_2.jpg" class="img3" #imgAbout />
        </div>
        <div
          class="text-container"
          #textContainer
          (touchstart)="slider.swipeStart($event)"
          (touchmove)="slider.swipe($event, 'aboutme')"
        >
          <!-- (click)="slider.clickSlide('aboutme')" -->
          <div
            class="textbox flex text1"
            #textboxAbout
            [class.invisible]="slider.currentAboutImage[0] != 0"
          >
            <p #text>
              <strong>"</strong>I am a passionate front end developer from
              Germany<strong>,</strong> currently situated in Colombia. I enjoy
              programming well-designed and functional websites and
              applications<strong>.</strong> Now<strong>,</strong> after my
              training, I am ready to take the next step<strong>,</strong>
              starting my career in this awesome business<strong>.</strong> I
              would love to help you realize your next project and to be a part
              of your team<strong>."</strong>
            </p>
          </div>
          <div
            class="textbox flex text2"
            #textboxAbout
            [class.invisible]="slider.currentAboutImage[0] != 1"
          >
            <p #text>
              <strong>"</strong>Actually I am a language teacher and I myself
              love learning languages<strong>.</strong> After my studies of
              chemistry and french for becoming a teacher, I worked as a
              language teacher for several years<strong>.</strong> But I wanted
              a career change and a new challenge and finally, I discovered my
              passion for programming<strong>."</strong>
            </p>
          </div>
          <div
            class="textbox flex text3"
            #textboxAbout
            [class.invisible]="slider.currentAboutImage[0] != 2"
          >
            <p #text>
              <strong>"</strong>Sports and outdoor activities are an important
              part of my life. I love bouldering and climbing, moutain biking,
              hiking and - the mountains<strong>.</strong> Ultimately I also
              discovered surfing and the fascination of the ocean<strong
                >."</strong
              >
            </p>
          </div>
        </div>
      </div>
      <div class="slide flex" (click)="slider.slideImagesRight('aboutme')">
        &rsaquo;
      </div>
    </div>
    <div class="img-points">
      <div
        class="point point1"
        [class.point-active]="slider.currentAboutImage[0] == 0"
        (click)="slider.selectImage('aboutme', 0)"
      ></div>
      <div
        class="point point2"
        [class.point-active]="slider.currentAboutImage[0] == 1"
        (click)="slider.selectImage('aboutme', 1)"
      ></div>
      <div
        class="point point3"
        [class.point-active]="slider.currentAboutImage[0] == 2"
        (click)="slider.selectImage('aboutme', 2)"
      ></div>
    </div>
    <div class="separator separator2" #separator></div>
  </div>
  <div class="clip-path"></div>
</div>
