.component-container {
  min-height: 80vh;
}
.content-container {
  align-self: flex-start;
  justify-content: flex-end;
  position: relative;
  gap: 5%;
  width: calc(100% + 60px);
}

.text-container {
  width: 100%;
  height: 50vh;
  padding-right: 60px;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.img-container {
  width: 50vh;
  aspect-ratio: 1;
  position: relative;
  z-index: 1;
  overflow: hidden;
  img {
    position: absolute;
    width: 50vh;
    max-width: 400px;
    aspect-ratio: 1;
    object-fit: cover;
    transition: all 225ms ease-in-out;
  }
}

  .img1{
    left: 0;
  }
  .img2{
    left: 100%;
  }
  
  .img3{
    left: -100%;
    display: none;
  }

h3 {
  margin-bottom: 42px;
}

.textbox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 50px);
  height: 50vh;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 2rem;
  transition: all 225ms ease-in-out;
  @media (max-width: 1000px) {
    font-size: 16px;
    line-height: 1.5rem;
  }
}

.textwrap {
  position: relative;
  max-height: calc(100% - 75px);
  p{
    padding-right: 10px;
    max-height: calc(50vh - 75px);
    overflow-y: auto;
    scrollbar-color: rgba(255,255,255,.05) rgba(255,255,255,.0);
    
    &::-webkit-scrollbar{
      width: 5px;
      background: rgba(255,255,255,.0);
    }
    &::-webkit-scrollbar-track{
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: rgba(255,255,255,.05);
      border-radius: 4px;
    }
    &:hover::-webkit-scrollbar-thumb{
      cursor: pointer;
      background-color: rgba(255,255,255,.1);
    }
    &:hover{
      scrollbar-color: rgba(255,255,255,.1) rgba(255,255,255,.0);
    }
  }
}

.text1 {
  left: 0;
}
.text2 {
  left: calc(100% + 60px);
}
.text3 {
  left: -100%;
}

.lines {
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: -25px;
  right: -20px;
  transition: all 350ms ease-in-out;
  z-index: 2;

  &::before {
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    bottom: -15px;
    border-right: 1px solid var(--text-colored);
    transition: all 350ms ease-in-out;
  }

  &::after {
    content: "";
    width: 100%;
    position: absolute;
    right: -20px;
    bottom: 0;
    border-bottom: 1px solid var(--text-colored);
    transition: all 350ms ease-in-out;
  }
}

.hover-lines {
  width: 30px;
  height: 30px;
  transform: rotateZ(-45deg);
  bottom: 50%;
  right: -40px;
  
  &::before {
    box-shadow: 0 0 2px var(--text-colored);
    right: 0;
    bottom: 0;
  }
  &::after {
    box-shadow: 0 0 2px var(--text-colored);
    bottom: 0;
    right: 0;
  }
}

.next {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transform: rotateZ(-45deg);
  bottom: 50%;
  right: 12px;
  box-shadow: 1.5px 1.5px 1px var(--text-colored);
  opacity: 0;
  
  &:hover{
    box-shadow: 2px 2px 2px var(--text-colored);
    filter: brightness(130%);
  }
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: opacity;
  transition-delay: 350ms;
}
