<div #aboutme id="aboutme" class="component-container content-section flex fade-in">
  <h3 #aboutHeading>about me</h3>
  <div class="content-container flex">
    <div class="img-container flex fade-in">
      <img src="assets/img/about/me4.jpg" />
    </div>
    <div class="text-container">
      <p>
       <strong>"</strong>I am a junior front end developer from Germany<strong>,</strong> passionate about
        programming well designed and functional web sites and applications<strong>.</strong> I
        would love to help you realizing your next project<strong>."</strong>
      </p>
      <div class="line line-right"></div>
      <div class="line line-bottom"></div>
    </div>
  </div>
</div>
