.transform-container{
  height: 80vh;
  width: 80%;
  position: absolute;
  left: 100px;
  top: 100px;
  transform: perspective(10vw);
  transform-origin: 50% 50%;
}

.project-slider{
  position: fixed;
  top: 0;
  left: 100%;
  opacity: 0;
  min-height: 100vh;
  /* transition-property: left, opacity;
  transition-duration: 650ms, 250ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0, 400ms; */
  transition: left 650ms ease-in-out, opacity 500ms ease-in-out 150ms;
}

.slide-in{
  left: 0;
  opacity: 1;
  transition: all 650ms ease-in-out;
}