.component-container {
  justify-content: flex-start;
  padding-bottom: 50px;
  min-height: 100vh;

  @media (max-width: 700px) {
    padding-top: 100px;
  }
}

.bg{
  background: repeating-linear-gradient(-45deg, rgba(10,10,10, .9) 0px, rgba(10,10,10, .9) 5px, rgba(10,10,10, 1) 5px, rgba(10,10,10, 1) 7px);
}

.content-section {
  justify-content: flex-start;
}

h3 {
  font-weight: 500;
  text-align: center;
  font-size: clamp(18px, 1.8vw, 32px);
  line-height: clamp(1.8rem, 2.5vw, 3.5rem);;
  margin-bottom: 35px;

  @media (min-width: 1800px) {
    margin-bottom: 60px;
  }

  position: relative;
  @media (max-width: 700px) {
    margin-top: 30px;
  }

  @media (min-width: 2000px) {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

.content {
  width: 100%;
  position: relative;
  /*   margin-top: clamp(80px, 30vw, 100px); */
}

.content__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.content__bottom,
.links {
  margin-top: clamp(35px, 1.8vw, 60px);
}

p,
a {
  line-height: clamp(1.5rem, 1.8vw, 2.5rem);
  font-size: clamp(14px, 1.2vw, 26px);
  /* 
  @media (min-width: 1400px) {
    line-height: 2.5rem;
  } */
}
/*   line-height: clamp(1.5rem, 1.8vw, 2.5rem);
} */
p:first-child {
  margin-bottom: clamp(25px, 2vw, 50px);
}

h4 {
  font-size: clamp(16px, 1.4vw, 32px);
  margin-bottom: clamp(15px, 1.2vw, 30px);
}

.links {
  a {
    font-size: clamp(14px, 1.3vw, 22px);
    display: flex;
    margin-bottom: 5px;
    justify-content: flex-start;

    &:hover {
      color: rgb(162, 162, 162);
    }
    &:hover > img {
      filter: invert(50%);
    }
  }
}

.link-icon {
  width: 30px;
  aspect-ratio: 1;
  margin-right: 10px;
  filter: invert(100%);
}

.project-images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 45%;
  min-width: 350px;
  aspect-ratio: 1.8;
  gap: 5px;
  position: absolute;
  right: 0;
  top: 0;
  /*   bottom:  clamp(25px, 2vw, 55px); */

  @media (max-width: 800px) {
    width: 100%;
    position: relative;
    /* margin-top: 30px; */
    margin-bottom: 60px;
    min-width: unset;
  }

  @media (max-width: 450px) {
    width: calc(100% + 12vw);
    transform: translateX(-6vw);
  }

  @media (min-width: 2100px) {
    top: 0;
    bottom: unset;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 350ms ease-in-out;

    @media (max-width: 700px) {
      cursor: pointer;
      
    }
  }

  .slide {
    font-family: "Astloch", sans-serif;
    font-size: clamp(48px, 4vw, 105px);
    width: clamp(35px, 3vw, 70px);
    height: clamp(35px, 3vw, 70px);
    color: var(--text-colored);
    cursor: pointer;
    padding-bottom: 0.2em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    @media (max-width: 450px) {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      font-size: clamp(38px, 11vw, 48px);
      width: clamp(30px, 9vw, 35px);
      height: clamp(30px, 9vw, 35px);
    }
    &:first-child {
      left: clamp(-80px, -4vw, -40px);

      @media (max-width: 450px) {
        left: clamp(10px, 3vw, 40px);
      }
    }
    &:last-child {
      right: clamp(-80px, -4vw, -40px);
      @media (max-width: 450px) {
        right: clamp(10px, 3vw, 40px);
      }
    }

    &:hover {
      text-shadow: 0px 0 5px rgba(0, 255, 251, 0.8);
    }
  }

  .image-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 3px 8px rgba(10, 10, 10, 0.5);

    @media (min-width: 450px) {
      border-radius: 15px;
    }
  }

  .img0 {
    left: 0;
    object-position: 50% 30%;
  }
  .img1 {
    left: 100%;
    object-position: 0 0;
  }
  .img2 {
    object-position: top;
    left: -100%;
  }
}

.back {
  justify-content: flex-start;
  white-space: nowrap;
  position: fixed;
  cursor: pointer;
  height: clamp(50px, 5vw, 130px);
  top: 110px;
  left: 100%;
  font-size: clamp(16px, 1.6vw, 28px);
  font-weight: 500;
  color: var(--text-colored);
  z-index: 5;
  transform: translateX(-5%);
  opacity: 0;
  transition: left 650ms ease-in-out, opacity 500ms ease-in-out 150ms;

  @media (min-width: 1400px) {
    top: 180px;
  }
  @media (min-width: 2000px) {
    top: 230px;
  }

  span {
    padding-bottom: 0.24em;
    margin-right: clamp(10px, 1.5vw, 40px);
    font-size: clamp(52px, 4vw, 105px);
    font-family: "Astloch", sans-serif;
  }

  @media (max-width: 700px) {
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 30px;
    background: linear-gradient(#232323 65%, rgba(35, 35, 35, 0.8));
    transform: translateX(0);
  }

  &:hover {
    text-shadow: 0 0 3px var(--text-colored);
  }
}

.slide-in {
  left: 3vw;
  opacity: 1;
  @media (max-width: 700px) {
    left: 0;
  }
}

.img-points {
  height: unset;
  position: absolute;
  bottom: clamp(-55px, -2vw, -25px);
  left: 50%;
  transform: translateX(-50%);
}

.point {
  box-shadow: 3px 3px 8px rgba(10, 10, 10, 0.5);
}

.description-long {
  @media (max-width: 800px) {
    text-align: center;
  }
}
