<div id="projects" class="component-container component-light flex">
  <div class="back" (click)="backToPortfolio()" [class.slide-in]="projects.openProject">&lsaquo;</div>
  <h3>
    {{ projects.currentProject.title }}
  </h3>
  <div class="project-images">
    <div class="image-container">
      <img
        src="assets/img/portfolio/{{ projects.currentProject.img[0] }}"
        #imgProject
        class="img0"
      />
      <img
        src="assets/img/portfolio/{{ projects.currentProject.img[1] }}"
        #imgProject
        class="img1"
        [style.objectPosition]="projects.currentProject.title == 'El Pollo Loco'? 'bottom' : projects.currentProject.title == 'Ring of Fire'? 'top' : 'center'"
      />
      <img
        src="assets/img/portfolio/{{ projects.currentProject.img[2] }}"
        #imgProject
        class="img2"
        [style.objectPosition]="projects.currentProject.title == 'El Pollo Loco' || projects.currentProject.title == 'Pokedex' ? 'center' : 'top'"
      />
    </div>
    <div class="img-points">
      <div
        class="point point1"
        [class.point-active]="slider.currentProjectImage[0] == 0"
        (click)="slider.selectImage('projects', 0)"
      ></div>
      <div
        class="point point2"
        [class.point-active]="slider.currentProjectImage[0] == 1"
        (click)="slider.selectImage('projects', 1)"
      ></div>
      <div
        class="point point3"
        [class.point-active]="slider.currentProjectImage[0] == 2"
        (click)="slider.selectImage('projects', 2)"
      ></div>
    </div>
  </div>
  <div class="content">
    <div class="description">
      <p>{{ projects.currentProject.description }}</p>
      <p>{{ projects.currentProject.description_long }}</p>
    </div>
    <div class="content__bottom flex">
      <div class="bottom__text">
        <div>
          <h4>Technologies</h4>
          <p *ngFor="let t of projects.currentProject.technologies">{{ t }}</p>
        </div>
        <div class="links">
          <h4>Have a look</h4>
          <a href="{{ projects.currentProject.github }}" target="_blank" class="flex"
            ><img src="assets/img/icons/github.svg" class="link-icon" />
            Github-Repository</a
          >
          <a href="{{ projects.currentProject.url }}" target="_blank" class="flex"
            ><img src="assets/img/icons/external-link.svg" class="link-icon" />
            Try it online!</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
