.content-section{
 justify-content: flex-start;
}

h3{
 position: relative;
}

.content{
 width: 100%;
 margin-top: 30px;
}

.content__bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

p {
  line-height: 1.5rem;
 }
 p:first-child {
  margin-bottom: 20px;
 }
 
 h4 {
  font-size: 18px;
  margin-bottom: 10px;
 }
 
 .links {
  margin-top: 40px;
  a {
   font-size: 16px;
   display: flex;
   margin-bottom: 5px;
   justify-content: flex-start;

   &:hover {
     color: rgb(162, 162, 162);
   }
   &:hover > img{
    filter: invert(50%);
   }
  }
}

.link-icon{
 width: 30px;
 height: 30px;
 margin-right: 10px;
 filter: invert(100%);
}

.project-images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: calc(50vh + 40px);
  max-height: 300px;
  gap: 5px;
  position: relative;
  margin-right: 20px;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 350ms ease-in-out;
  }

  .image-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .img0 {
    left: 0;
    object-position: 50% 30%;
  }
  .img1 {
    left: 100%;
    object-position: 0 0;
  }
  .img2 {
    object-position: top;
    left: -100%;
  }
}

.arrow {
  position: absolute;
  cursor: pointer;
  top: -100%;
  left: calc(-37vw + 50%);
  font-family: 'Astloch', sans-serif !important;
  font-weight: 200;
  font-size: clamp(62px, 8vw, 105px);;
  color: var(--text-colored);
  &:hover {
    text-shadow: 0 0 3px var(--text-colored);
  }
}

.img-points{
  position: absolute;
  bottom: clamp(10px, 1.5vw, 25px);
  left: 50%;
  transform: translateX(-50%);
}