<div id="projects" class="component-container content-section flex">
  <div class="arrow before big" (click)="backToPortfolio()"></div>
  <h3>{{ currentProject.title }}</h3>
  <div class="content">
    <div class="description">
      <p>{{ currentProject.description }}</p>
      <p>{{ currentProject.description_long }}</p>
    </div>
    <div class="content__bottom flex">
      <div class="bottom__text">
        <div>
          <h4>Technologies</h4>
          <p *ngFor="let t of currentProject.technologies">{{ t }}</p>
        </div>
        <div class="links">
          <h4>Have a look</h4>
          <a href="{{ currentProject.github }}" target="_blank" class="flex"
            ><img src="assets/img/skills/github.svg" class="link-icon" />
            Github-Repository</a
          >
          <a href="{{ currentProject.url }}" target="_blank" class="flex"
            ><img
              src="assets/img/portfolio/external-link.svg"
              class="link-icon"
            />
            Try it online!</a
          >
        </div>
      </div>
      <div class="project-images">
        <div class="image-container">
          <img
            src="assets/img/portfolio/{{ currentProject.img[0] }}"
            #img
            class="img0"
          />
          <img
            src="assets/img/portfolio/{{ currentProject.img[1] }}"
            #img
            class="img1"
          />
          <img
            src="assets/img/portfolio/{{ currentProject.img[2] }}"
            #img
            class="img2"
          />
        </div>
        <div class="arrow before" (click)="slideImagesLeft()"></div>
        <div class="arrow next" (click)="slideImagesRight()"></div>
      </div>
    </div>
  </div>
</div>
