<div id="projects" class="component-container flex">
  <h3>
    <div class="arrow" (click)="backToPortfolio()">&larr;</div>
    {{ currentProject.title }}
  </h3>
  <div class="project-images">
    <div class="image-container">
      <img
        src="assets/img/portfolio/{{ currentProject.img[0] }}"
        #img
        class="img0"
      />
      <img
        src="assets/img/portfolio/{{ currentProject.img[1] }}"
        #img
        class="img1"
      />
      <img
        src="assets/img/portfolio/{{ currentProject.img[2] }}"
        #img
        class="img2"
      />
      <div class="img-points">
        <div
          class="point point1"
          [class.point-active]="currentImage == 0"
          (click)="selectImage(0)"
        ></div>
        <div
          class="point point2"
          [class.point-active]="currentImage == 1"
          (click)="selectImage(1)"
        ></div>
        <div
          class="point point3"
          [class.point-active]="currentImage == 2"
          (click)="selectImage(2)"
        ></div>
      </div>
    </div>
    <!--     <div class="arrow before" (click)="slideImagesLeft()"></div>
    <div class="arrow next" (click)="slideImagesRight()"></div> -->
  </div>
  <div class="content">
    <div class="description">
      <p>{{ currentProject.description }}</p>
      <p>{{ currentProject.description_long }}</p>
    </div>
    <div class="content__bottom flex">
      <div class="bottom__text">
        <div>
          <h4>Technologies</h4>
          <p *ngFor="let t of currentProject.technologies">{{ t }}</p>
        </div>
        <div class="links">
          <h4>Have a look</h4>
          <a href="{{ currentProject.github }}" target="_blank" class="flex"
            ><img src="assets/img/icons/github.svg" class="link-icon" />
            Github-Repository</a
          >
          <a href="{{ currentProject.url }}" target="_blank" class="flex"
            ><img src="assets/img/icons/external-link.svg" class="link-icon" />
            Try it online!</a
          >
        </div>
      </div>
      <!--  <div class="project-images">
        <div class="image-container">
          <img
            src="assets/img/portfolio/{{ currentProject.img[0] }}"
            #img
            class="img0"
          />
          <img
            src="assets/img/portfolio/{{ currentProject.img[1] }}"
            #img
            class="img1"
          />
          <img
            src="assets/img/portfolio/{{ currentProject.img[2] }}"
            #img
            class="img2"
          />
        </div>
        <div class="arrow before" (click)="slideImagesLeft()"></div>
        <div class="arrow next" (click)="slideImagesRight()"></div>
      </div> -->
    </div>
  </div>
</div>
