<div #contact id="contact" class="component-container component-light  flex">
  <div class="clip-path clip1"></div>
  <h3 #contactHeading class="o-0"><span class="text-blue">contact</span> me</h3>
  <div #contactForm class="content flex o-0">
    <p>
      If you are interested in realizing your next project with me, you are
      welcome to write me a message here or send an e-mail to
      <span class="text-blue">aludewig@posteo.de</span>.
    </p>

    <div class="formatting-container">
      <div class="form-container">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
          <div class="input-area flex">
            <label for="firstname">First name</label>
            <input
              name="firstname"
              type="text"
              placeholder="First name"
              class="form-field"
              required
              minlength="3"
              [(ngModel)]="contactData.firstname"
              #firstname="ngModel"
              #input
            />
            <label for="lastname">Last name</label>
            <input
              name="lastname"
              type="text"
              placeholder="Last name"
              class="form-field"
              required
              minlength="3"
              [(ngModel)]="contactData.lastname"
              #lastname="ngModel"
              #input
            />
            <label for="email">E-Mail</label>
            <input
              name="email"
              type="email"
              placeholder="E-Mail"
              class="form-field"
              [(ngModel)]="contactData.email"
              #email="ngModel"
              #input
              required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              [class.invalid]="email.invalid && email.touched"
            />
            <label for="message">Your message</label>
            <textarea
              name="message"
              id=""
              cols="30"
              rows="10"
              placeholder="Your message"
              class="form-field"
              required
              minlength="10"
              [(ngModel)]="contactData.message"
              #message="ngModel"
              #input
            ></textarea>
          </div>

          <div class="btn-container flex">
            <button
              type="submit"
              class="send-btn flex"
              [disabled]="!form.valid"
            >
              Send
            </button>
          </div>
        </form>
      </div>
      <div
        class="confirmation-container flex"
        [class.d-none]="!messageSent"
        (click)="closeConfirmation($event)"
        id="confirmationContainer"
      >
        <div class="confirmation flex">
          <p>Thank you! Your message has been sent.</p>
          <button class="btn flex" (click)="messageSent = false">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
