.component-container {
  padding-bottom: 125px;
}

.content {
  flex-direction: column;
  gap: 40px;
}

.formatting-container {
  width: 100%;
  display: flex;
}

.form-container {
  width: 60%;

  @media (max-width: 800px) {
    width: 100%;
  }
}

.input-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

label {
  margin-bottom: 10px;
  
  @media (min-width: 2200px) {
    margin-bottom: 20px;
  }
}

.form-field {
  width: 100%;
  padding: 10px 10px;
  border: none;
  border-right: 1px solid var(--text-colored);
  margin-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  
  @media (min-width: 1400px){
    margin-bottom: 32px;
  }

  &:focus {
    border-right: 0;
    outline: 1px solid var(--text-colored);
    box-shadow: 0 0 2px var(--text-colored), inset 0 0 2px var(--text-colored);
  }
}

.input-hint{
  font-size: 14px;
  color: rgb(var(--text-colored-violet));
  margin-top: -10px;
  margin-bottom: 25px;
}

.invalid{
  outline: 1.5px solid rgb(var(--text-colored-violet)) !important;
  border-right: 1px solid rgb(var(--text-colored-violet)) !important;

  &:focus{
    outline: 2px solid rgb(var(--text-colored-violet));
    box-shadow: 0 0 3px rgb(var(--text-colored-violet)), inset 0 0 3px rgb(var(--text-colored-violet));
  }
}

.btn-container {
  justify-content: flex-end;
}

.send-btn {
  cursor: pointer;
  padding: 15px 30px;
  color: var(--text-colored);
  border: 1px solid var(--text-colored);
  background-color: unset;
  font-size: clamp(13px, calc(13px + 0.8vw), 18px);
  font-weight: 400;
  transition: all 50ms ease-in-out;
  position: relative;

  &:disabled {
    cursor: default;
    border: 1px solid hsl(179, 26%, 36%);
    color: hsl(179, 26%, 36%);

    &:disabled:hover {
      text-shadow: none;
      box-shadow: none;
    }
  }

  &:hover {
    text-shadow: 0px 0 2px hsla(175, 100%, 39%, 0.8);
    box-shadow: inset 0 0 2px 0.3px var(--text-colored),
      0 0 2px 0.3px var(--text-colored);
  }
}

.confirmation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 4;
}

.confirmation {
  width: 350px;
  height: 200px;
  padding: 10px 25px;
  background-color: rgba(10, 10, 10, 0.6);
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid var(--text-colored);
  box-shadow: 4px 4px 12px rgba(10, 10, 10, 0.5);

  button {
    opacity: 1;
    height: 40px;
    font-size: 16px;
    
    &:hover {
      box-shadow: inset 0 0 4px var(--text-colored), 0 0 4px var(--text-colored);
      background-color: transparent;
    }
  }
}
