<div class="component-container flex">
  <h3>My Work</h3>
  <div class="work-container">
    <a
      href="https://annaludewig.net/projects/bitcoin-app/index.html"
      target="_blank"
      class="work work-1"
    >
      <img src="assets/img/work/bitcoin.png" />
      <div class="work-layer flex">
        <h4>Bitcoin App</h4>
        <p>
          A BTC/USD exchange calculator which also shows the historic exchang
          rate over a chosen period
        </p>
      </div>
    </a>
    <a
      href="https://annaludewig.net/projects/el_pollo_loco/index.html"
      target="_blank"
      class="work work-2"
    >
      <img src="assets/img/work/pollo_loco.png" />
      <div class="work-layer flex">
        <h4>El Pollo Loco</h4>
        <p>A jump and run game written in JavaScript</p>
      </div>
    </a>
    <a
      href="https://annaludewig.net/projects/pokedex/index.html"
      target="_blank"
      class="work work-3"
    >
      <img src="assets/img/work/pokedex.png" />
      <div class="work-layer flex">
        <h4>Pokedex</h4>
        <p>A pokemon gallery using the pokeapi</p>
      </div>
    </a>
    <a
      href="https://ring-of-fire-7eef3.web.app/"
      target="_blank"
      class="work work-4"
    >
      <img src="assets/img/work/ring_of_fire.png" />
      <div class="work-layer flex">
        <h4>Ring of Fire</h4>
        <p>A multiplayer online card game, built with Angular and TypeScript</p>
      </div>
    </a>
  </div>
</div>
