.work-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  justify-content: center;
  cursor: pointer;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.work {
  width: 350px;
  aspect-ratio: 1.55;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: all 225ms ease-in-out;

  &:nth-child(odd){
    transform: translateX(-300px);
  }
  &:nth-child(even){
    transform: translateX(300px);
  }

  @media (max-width: 360px) {
    width: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 700ms ease-in-out;
  }

  &:hover > .work-layer {
    transform: translateY(0);
  }

  &:hover > img {
    filter: blur(3px);
    transform: scale(1.1);
  }
}

.work-pos-0{
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.work-layer {
  position: absolute;
  inset: 0;
  padding: 20px;
  background-color: rgba($color: #000006, $alpha: 0.5);
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: translateY(100%);
  transition: all 225ms ease-in-out;
  p {
    text-align: center;
    line-height: 1.3rem;
  }
}
