<div #portfolio id="portfolio" class="component-container component-light flex">
  <div class="clip-path clip1"></div>
  <h3 #portfolioHeading class="o-0">portf<span class="text-violet">o</span>lio</h3>
  <p class="section-text o-0" #text>
    Here you can find some of my projects.
    <span class="text-violet">Select a project</span> for more information.
  </p>
  <div class="portfolio-container">
    <a
      *ngFor="let project of projects.projects; let i = index"
      #project
      (click)="showProject(project.link)"
      class="project flex o-0"
      [style.flexDirection]="!bigger800 ? '' : i % 2 == 0 ? 'row' : 'row-reverse'"
    >
    <div [class.separator]="i != 0" [class.right]="i % 2 != 0" #separator [ngClass]="{'tt-100': i % 2 == 0, 'tt--100': i % 2 != 0}"></div>
      <div class="img-container" [ngClass]="{'tt-100': i % 2 != 0, 'tt--100': i % 2 == 0}" #imgContainer>
        <img src="assets/img/portfolio/{{ project.img[0] }}" />
        <div class="portfolio-layer flex">
        <p>
          More about this project
        </p>
        </div>
      </div>
      <div class="description" [ngClass]="{'tt-100': i % 2 == 0, 'tt--100': i % 2 != 0}" [ngStyle]="{'textAlign': i % 2 == 0 ? 'left' : 'right', 'marginLeft': i % 2 == 0 && bigger800? '5%': '', 'marginRight': i % 2 != 0 && bigger800? '5%': ''}" #description>
        <h4>{{ project.title }}</h4>
        <p>
          {{ project.description }}
        </p>
        
      </div>
    </a>
  </div>
  <div class="clip-path clip2"></div>
</div>
