h3{
  opacity: 0;
  margin-bottom: 42px;
}

.portfolio-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  cursor: pointer;

  @media (max-width: 1000px) {
    gap: 10px;
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.portfolio {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1.5;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: all 350ms ease-in-out;

  @media (max-width: 500px){
    width: 100vw;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 700ms ease-in-out;
    filter: blur(2px);
    transform: scale(1.1);

  }

  &:hover > .portfolio-layer {
    transform: translateY(100%);
  }

  &:hover > img {
    filter: blur(0);
    transform: scale(1);
  }
}


.portfolio-layer {
  position: absolute;
  inset: 0;
  padding: 20px;
  background-color: rgba($color: #000006, $alpha: 0.5);
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 225ms ease-in-out;
  p {
    text-align: center;
    line-height: 1.5rem;
  }
}
