.component-container {
  position: relative;
  padding-bottom: 100px;
}

.clip-path {
  width: 100%;
  position: absolute;
  background-color: rgb(10, 10, 10);
}

.clip1 {
  height: 5vh;
  top: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.clip2 {
  height: 2vh;
  bottom: 0;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}

h3 {
  opacity: 0;
}

.section-text {
  font-weight: 400;

  @media (min-width: 1000px) {
    margin-bottom: 20px;
  }
}

.portfolio-container {
  cursor: pointer;
  width: 100%;

  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.project-container {
  width: 100%;
  position: relative;
  padding-top: 100px;
  
  &:first-child{
    padding-top: 60px;
  }

  @media (max-width: 800px) {
    height: fit-content;
    max-width: 400px;
    max-height: unset;
  }

  @media (max-width: 450px) {
    width: 100vw;
    max-width: unset;
  }
}

.project {
  width: 100%;
  height: 20vw;
  max-height: 220px;
  position: relative;
  transition: all 600ms ease-in-out;
  overflow-y: clip;
  overflow-x: visible;

  @media (max-width: 800px) {
    flex-direction: column;
    height: unset;
    max-height: unset;
  }

  @media (min-width: 1400px) {
    max-height: 300px;
  }

  &:first-child {
    border-top: none;
  }

  &:hover .portfolio-layer {
    transform: translateY(0);
  }
}

.img-layer--hover {
  &:hover .img-layer {
    transform: translateY(-105%);
  }

  &:hover img {
    transform: scale(1.1);
  }
}

.separator {
  width: 87vw;
  height: 5px;
  position: absolute;
  left: -13vw;
  bottom: -5px;
  background-color: rgb(97, 97, 97);
  transition: all 600ms ease-in-out;
  @media (max-width: 800px) {
    width: 87vw;
    max-width: calc((100vw - 400px) / 2 + 400px);
    left: calc(-1 * (100vw - 400px) / 2);
  }

  @media (max-width: 540px) {
    left: -13vw;
  }

  @media (min-width: 1400px) {
    width: 85vw;
    left: -15vw;
  }
}

.right {
  left: unset;
  right: -13vw;
  @media (max-width: 800px) {
    right: calc(-1 * (100vw - 400px) / 2);
  }
  @media (max-width: 540px) {
    right: -13vw;
  }

  @media (min-width: 1400px) {
    right: -15vw;
  }
}

.img-container {
  aspect-ratio: 1.8;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: all 600ms ease-in-out;

  @media (max-width: 800px) {
    width: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*     filter: saturate(60%) brightness(60%); */
    transition: all 700ms ease-in-out;
  }
}

.portfolio-layer {
  position: absolute;
  inset: 0;
  background-color: rgba($color: #ffffff, $alpha: 0.2);
  transition: all 225ms ease-in-out;
}

.img-layer {
  background-color: rgba($color: #111111, $alpha: 0.5);
}

.text-layer {
  transform: translateY(105%);
  @media (max-width: 800px) {
    transform: translateY(-105%);
  }

  @media (min-width: 2450px) {
    width: calc(100% - 300px * 1.8);
  }
}

.layer-right {
  @media (min-width: 2450px) {
    left: unset;
    right: 0;
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
  transition: all 600ms ease-in-out, color 0ms;
  overflow: hidden;
  @media (max-width: 800px) {
    width: 100%;
    padding-top: 30px;
  }
  @media (max-width: 450px) {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  p {
    line-height: 1.5rem;
    margin-top: 15px;
    @media (max-width: 800px) {
      margin-bottom: 40px;
    }
  }
}

.tt--100 {
  transform: translateX(-100%);
}
.tt-100 {
  transform: translateX(100%);
}
.tt--80 {
  transform: translateX(-80%);
}
.tt-80 {
  transform: translateX(80%);
}
