.component-container {
  position: relative;
  padding-bottom: 100px;
}

.clip-path {
  width: 100%;
  position: absolute;
  background-color: rgb(10, 10, 10);
}

.clip1 {
  height: 5vh;
  top: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.clip2 {
  height: 2vh;
  bottom: 0;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}

h3 {
  opacity: 0;
}

.section-text {
  font-weight: 400;

  @media (min-width: 1000px){
    margin-bottom: 20px;
  }
}

.portfolio-container {
  cursor: pointer;
  width: 74vw;

  @media (max-width: 1000px) {
  }

  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.project-container {
  width: 100%;
  height: calc(20vw + 45px);
  max-height: 265px;
  padding-top: 45px;
  position: relative;

  @media (max-width: 800px) {
    height: fit-content;
    max-width: 400px;
    max-height: unset;
  }

  @media (max-width: 500px) {
    width: 100vw;
  }

  @media (min-width: 1400px){
    max-height: 345px;
  }
}

.project {
  width: 100%;
  height: 20vw;
  max-height: 220px;
  position: relative;
  transition: all 600ms ease-in-out;
  overflow-y: clip;
  overflow-x: visible;

  @media (max-width: 800px) {
    flex-direction: column;
    height: unset;
    max-height: unset;
  }

  @media (min-width: 1400px){
    max-height: 300px;
  }
/* 
  @media (max-width: 500px) {
    width: 100vw;
  } */

  &:first-child {
    border-top: none;
  }

  &:hover .portfolio-layer {
    transform: translateY(0);
  }

  &:hover img {
    filter: blur(2px);
    transform: scale(1.1);
  }
}

.separator {
  width: 100%;
  height: 10px;
  position: absolute;
  left: -13vw;
  top: 17.5px;
  background-color: rgb(97, 97, 97);
  transition: all 600ms ease-in-out;
  @media (max-width: 800px) {
    width: 74vw;
    left: calc(-13vw - (100vw - 400px) / 2);
  }
  @media (min-width: 1400px) {
    left: -15vw;
  }
}

.right {
  left: unset;
  right: -13vw;
  @media (max-width: 800px) {
    width: 74vw;
    right: calc(-13vw - (100vw - 400px) / 2);
  }
  @media (min-width: 1400px) {
    right: -15vw;
  }
}

.img-container {
  /* width: 45%; */
  aspect-ratio: 1.8;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: all 600ms ease-in-out;

  @media (max-width: 800px) {
    width: 100%;
    /* aspect-ratio: 1.8; */
  }

/*   @media (min-width: 1400px){
    max-width: 300px;
  } */

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 700ms ease-in-out;
  }
}

.portfolio-layer {
  position: absolute;
  inset: 0;
  background-color: rgba($color: #ffffff, $alpha: 0.2);
  gap: 20px;
  justify-content: flex-start;
  transform: translateY(105%);
  transition: all 225ms ease-in-out;

  @media (max-width: 800px) {
    flex-direction: column;
  }

  p {
    font-weight: 500;
  }
}

.layer-text {
  height: 100%;
  aspect-ratio: 1.8;

  height: 100%;
  background-color: rgba($color: #888888, $alpha: 0.7);

  @media (max-width: 800px) {
    height: unset;
    width: 100%;
  }

  p {
    font-size: 20px;
    color: rgb(112, 0, 135);
    font-weight: 600;
    text-shadow: 0 0 4px rgb(212, 0, 255);
  }
}

.description {
  flex: 1;
  transition: all 600ms ease-in-out, color 0ms;
  @media (max-width: 800px) {
    width: 100%;
    margin-top: 20px;
  }
  @media (max-width: 400px) {
    padding-left: 10px;
    padding-right: 20px;
  }

  p {
    line-height: 1.5rem;
    margin-top: 15px;
    @media (max-width: 800px) {
      margin-bottom: 40px;
    }
  }
}

.tt--100 {
  transform: translateX(-100%);
}
.tt-100 {
  transform: translateX(100%);
}
.tt--80 {
  transform: translateX(-80%);
}
.tt-80 {
  transform: translateX(80%);
}
