<nav
  class="pd-15 flex fade-in"
  [style.right]="navOpen || bigger700 ? '0' : '-100%'"
  #nav
>
  <div class="nav-links flex">
    <a
      (click)="
        toggleMenu();
        navigation.forceNavigation('/', '');
        projects.closeProject()
      "
      (mouseover)="hoverOn($event)"
      (mouseleave)="hoverOff($event)"
      >home
      <div class="hover-line transition-left" #hoverLine></div
    ></a>
    <a
      routerLink="/about/#aboutme"
      [class.link-active]="this.router.url == '/about#aboutme'"
      (click)="
        toggleMenu();
        resetHoverLine($event);
        navigation.forceNavigation('/about', 'aboutme');
        projects.closeProject()
      "
      (mouseover)="hoverOn($event)"
      (mouseleave)="hoverOff($event)"
      >about
      <div class="hover-line transition-left" #hoverLine></div>
      </a
    >
    <a
      routerLink="/about/#portfolio"
      [class.link-active]="this.router.url == '/about#portfolio'"
      (click)="
        toggleMenu();
        resetHoverLine($event);
        navigation.forceNavigation('/about', 'portfolio');
        projects.closeProject()
      "
      (mouseover)="hoverOn($event)"
      (mouseleave)="hoverOff($event)"
      >portfolio
      <div class="hover-line transition-left" #hoverLine></div>
      </a
    >
    <a
      routerLink="/about/#skills"
      [class.link-active]="this.router.url == '/about#skills'"
      (click)="
        toggleMenu();
        resetHoverLine($event);
        navigation.forceNavigation('/about', 'skills');
        projects.closeProject()
      "
      (mouseover)="hoverOn($event)"
      (mouseleave)="hoverOff($event)"
      >skills
      <div class="hover-line transition-left" #hoverLine></div>
      </a
    >
    <a
      routerLink="/about/#contact"
      [class.link-active]="this.router.url == '/about#contact'"
      (click)="
        toggleMenu();
        resetHoverLine($event);
        navigation.forceNavigation('/about', 'contact');
        projects.closeProject()
      "
      (mouseover)="hoverOn($event)"
      (mouseleave)="hoverOff($event)"
      >contact
      <div class="hover-line transition-left" #hoverLine></div>
      </a
    >
  </div>
</nav>
<div class="menu" [class.menu--close]="navOpen" (click)="toggleMenu()">
  <div class="menu-bar bar1" [class.bar1--close]="navOpen"></div>
  <div class="menu-bar bar2" [class.bar2--close]="navOpen"></div>
  <div class="menu-bar bar3" [class.bar3--close]="navOpen"></div>
</div>
