nav {
  position: fixed;
  top: 0;
  right: -100%;
  background: linear-gradient(rgba(35, 35, 35, 1) 50%, rgba(35, 35, 35, 0) 90%);
  opacity: 0;
  width: 200px;
  height: 100vh;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 4;
  padding: 40px;
  padding-top: 100px;
  transition: all 400ms ease-in-out;

  @media (max-width: 400px){
    width: 100%;
  }

  @media (min-width: 700px) {
    background: linear-gradient(rgba(35, 35, 35, 1) 65%, rgba(35, 35, 35, 0.8));
    right: unset;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 13vw;
    align-items: center;
  }

  @media (min-width: 1800px){
    height: 100px;
  }

  @media (min-width: 1800px) {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}
.nav-links {
  justify-content: space-between;
  white-space: nowrap;
  gap: clamp(20px, 3vw, 50px);
  width: 100%;

  a {
    cursor: pointer;

    &:hover {
      color: rgb(162, 162, 162);
    }

    @media (max-width: 700px) {
      margin-top: 20px;
    }
  }

  @media (max-width: 700px) {
    flex-direction: column;
  }
}

.nav-dark {
  a {
    color: #222222;
  }
}

.link-active {
  color: var(--text-colored-violet);
  text-shadow: 0 0 4px var(--text-colored-violet);

  &:hover {
    color: rgb(255, 91, 241) !important;
    text-shadow: 0 0 8px rgb(255, 91, 241) !important;
  }
}

.logo {
  height: clamp(14px, 1.8vw, 16px);
  width: auto;
  cursor: pointer;

  &:hover > img {
    filter: invert(100%);
  }

  img {
    height: 100%;
    width: auto;
    object-fit: contain;
    display: inline-block;
    transition: filter 225ms ease-in-out;
  }
}

.menu {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 5;

  @media (min-width: 700px) {
    display: none;
  }

  &:hover .menu-bar {
    background-color: var(--text-colored-violet);
  }

  &:hover .bar1,
  &:hover .bar3 {
    width: 25px;
    transform: translateX(0);
  }
}

.menu--close {
  &:hover .bar1 {
    width: 30px;
    height: 2px;
    transform: rotate(45deg) translateY(-2px);
  }

  &:hover .bar3 {
    width: 30px;
    height: 2px;
    transform: rotate(-45deg) translateY(2px);
  }
}

.menu-bar {
  height: 1.5px;
  border-radius: 2px;
  background-color: white;
  transition: all 400ms ease-in-out;
}

.menu-bar--dark {
  background-color: rgb(10, 10, 10);
}

.bar1 {
  width: 20px;
  transform: translateX(-5px);
  transform-origin: 0 50%;
}

.bar2 {
  width: 100%;
}

.bar3 {
  width: 20px;
  transform: translateX(5px);
  transform-origin: 0 50%;
}

.bar1--close {
  width: 30px;
  height: 2px;
  transform: rotate(45deg) translateY(-2px);
  transition: width, transform 400ms ease-in-out;
}

.bar2--close {
  opacity: 0;
}

.bar3--close {
  width: 30px;
  height: 2px;
  transform: rotate(-45deg) translateY(2px);
  transition: width, transform 400ms ease-in-out;
}
