nav{
 position: absolute;
 justify-content: space-between;
 width: 100%;
 height: 75px;
 background-color: rgba($color: #000000, $alpha: .8);
 z-index: 2;

 .nav-links{
  white-space: nowrap;
 }
 
 a{
  margin-left: clamp(20px, 3vw, 50px);
  text-transform: uppercase;
 }
}

.logo{
 font-size: clamp(16px, 2vw, 20px);
}