* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  --bg-grey: #1a1a1a;
  --text-colored: hsl(175, 100%, 39%); 
  overflow-x: hidden;
  background-color: rgb(10,10,10);
}

.component-container {
  min-height: 100vh;
  width: 100vw;
/*   min-height: 100vh; */
   padding: 125px 13vw 50px;
   background-color: rgb(10, 10, 10);
}

.content-section {
  flex-direction: column;
  gap: 40px;
  @media (max-width: 360px) {
    padding: 0;
  }
}

h1 {
  font-size: clamp(32px, 3vw, 72px);
  font-weight: 500;
  margin-bottom: 20px;

  @media (max-width: 600px) {
    font-size: clamp(32px, 10vw, 60px);
  }
}

h2 {
  font-weight: 500;
  font-size: clamp(28px, 2vw, 60px);
  @media (max-width: 600px) {
    font-size: clamp(22px, 8vw, 50px);
  }
}

h3 {
  font-weight: 500;
  text-align: center;
  font-size: clamp(24px, 5vw, 32px);
}

h4 {
  font-size: 20px;
}

a {
  font-size: clamp(16px, 2vw, 18px);
  color: white;
  text-decoration: none;

  &:hover {
    color: #bbb;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-none{
  display: none;
}

button{
  cursor: pointer;
}


.fade-in{
  opacity: 0;
  animation: fade-in 1s ease-in-out 4000ms forwards;
}

@keyframes fade-in {
 100%{
   opacity: 1;
 }
}

.o-0{
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.o-1{
  opacity: 1 !important;
}