* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  --bg-grey: #1a1a1a;
  --text-colored: rgb(0, 255, 251);
  --text-colored2: rgb(0, 191, 188);
  --text-colored-violet: rgb(225, 0, 255);
  --text-colored-violet2:rgb(255, 0, 191);
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  background-color: rgb(10, 10, 10);
}

.component-container {
  color: white;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  padding: 125px 13vw 150px;
  background-color: rgb(10, 10, 10);

  @media (max-width: 450px){
    padding: 125px 6vw 150px;
  }
  @media (min-width: 1400px){
    padding: 200px 15vw 240px;
  }

}

.component-light {
  background-color: rgb(55, 55, 55);
  /* color: rgb(10, 10, 10); */
}

.bg-white {
  background-color: rgb(238, 238, 238);

  h3,
  h4,
  h5,
  p,
  a {
    color: #222222;
  }

  h3 {
    margin-bottom: 50px;
  }
  h4,
  h5 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 10px;
    line-height: 1.4rem;
  }
  a {
    &:hover {
      color: #555;
    }
  }
}

h1 {
  font-size: clamp(32px, 3vw, 72px);
  font-weight: 500;
  margin-bottom: 20px;
}

h2 {
  font-weight: 500;
  font-size: clamp(22px, 2.5vw, 60px);
}

h3 {
  font-weight: 500;
  text-align: center;
  font-size: clamp(24px, 2.5vw, 38px);
  margin-bottom: 35px;

  @media (min-width: 1800px) {
    font-size: clamp(24px, 4vw, 64px);
    margin-bottom: 100px;
  }
}

h4 {
  font-size: clamp(16px, 1.6vw, 32px);
}

h5 {
  font-size: 18px;
}

a {
  font-size: clamp(20px, 1.5vw, 32px);
  color: white;
  text-decoration: none;

  @media (min-width: 1800px) {
    font-size: clamp(16px, 2vw, 42px);
  }
}

p, label {
  line-height: 1.5rem;
  font-size: clamp(16px, 1.3vw, 18px);
  
  @media (min-width: 1400px) {
    line-height: 2.5rem;
    font-size: clamp(20px, 2vw, 30px);
  }
}

input, textarea{
  font-size: clamp(15px, 1vw, 18px);
  @media (min-width: 1400px) {
    font-size: clamp(18px, 1.8vw, 25px);
  }
}

.btn {
  cursor: pointer;
  color: var(--text-colored);
  border: 1px solid var(--text-colored);
  background-color: unset;
  font-weight: 400;
  position: relative;
  opacity: 0;
  padding: 20px;
  font-size: clamp(16px, 2.5vw, 20px);
  &:hover {
    color: var(--text-colored);
    text-shadow: 0px 0 5px rgba(0, 255, 251, 0.8);
    background-color: rgba(10, 10, 10, 0.7);
    box-shadow: inset 0 0 6px 0.5px var(--text-colored),
      0 0 6px 0.5px var(--text-colored);
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-none {
  display: none;
}

.fade-in {
  opacity: 0;
  animation: fade-in 1s ease-in-out 1000ms forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

.o-0 {
  opacity: 0;
  transition: opacity 700ms ease-in-out;
}

.o-1 {
  opacity: 1 !important;
}

.tt-0{
  transform: translate(0, 0) !important;
}

.source {
  margin-top: 30px;
}

.text-blue {
  color: var(--text-colored);
  font-weight: 500;
}
.text-blue2 {
  color: var(--text-colored);
  font-weight: 500;
}

.text-violet {
  color: var(--text-colored-violet);
  font-weight: 500;
}

.img-points{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: clamp(40px, 4vw, 80px);
  height: 20px;
  position: relative;
}

.point{
  width: clamp(8px, 0.8vw, 20px);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgb(0, 132, 150);
  border: 1px solid var(--text-colored);
  box-shadow: 0 0 2px var(--text-colored);
  cursor: pointer;
  /* transition: background-color 350ms ease-in-out; */
  
  &:hover{
    background-color: rgb(0, 225, 255);
  }
}

.point-active{
  background-color: rgb(0, 225, 255);
}