<div id="home" class="home-container pd-15">
  <app-start-animation #startAnimation></app-start-animation>
  <div class="home-content flex">
    <div class="headings">
      <h1 class="mainheading">
        <div class="falling-letter-container" [class.flip-text1]="flipText" >
          <span class="falling-letter" *ngFor="let letter of heading_1; let i = index" #letter>{{
            letter
          }}</span>
        </div>
        <div class="mainheading2" [class.flip-text2]="flipText">
          <span>Hi, I am </span><span class="text-colored">Anna</span>
        </div>
      </h1>

      <h2 class="subheading">
        <span class="falling-letter" *ngFor="let letter of heading_2; let i = index" [class.fade-out]="flipText && i == 18" #letter2>{{
          letter 
        }}</span>
      </h2>
    </div>
      <a class="btn fade-in" (click)="stopAnimation(); navigation.forceNavigation('/about', 'aboutme')">
        Find out more
    </a>
  </div>
</div>
