<div class="home-container pd-15 flex">
  <div class="headings">
    <h1 class="main-heading">Hi, I am <span class="text-colored">Anna</span></h1>
    <h1 class="highlighted">Hi, I am <span class="text-colored">Anna</span></h1>
    <div class="h1-layer"></div>

    <h2>Front End Developer</h2>
  </div>
  <div class="picture-container">
    <!-- <img class="profile-img" src="assets/img/profile_picture_transp.png" /> -->
    <img class="profile-img" src="assets/img/profile_picture.jpg" />
    <div class="picture-layer"></div>
   </div>
</div>
